<h1>Listing bars</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>City</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= bar.name %></td>
    <td><%= bar.city.local %></td>
    <td><%= link_to 'Show', bar, :class => 'btn' %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar), :class => 'btn' %></td>
    <td><%= link_to 'Destroy', bar, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar', new_bar_path, :class => 'btn' %>
